.fenestra-desktop {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden; }

.fenestra-desktop *,
.fenestra-desktop *::after,
.fenestra-desktop *::before {
  box-sizing: border-box; }

.fenestra-desktop-windows {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto; }

.fenestra-desktop-maximized >
.fenestra-desktop-windows {
  overflow: hidden; }

.fenestra-desktop-moving >
.fenestra-desktop-windows {
  overflow: hidden; }

.fenestra-desktop-moving >
.fenestra-desktop-windows >
.fenestra-window {
  transition: none; }

.fenestra-desktop-icons {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1; }

.fenestra-desktop-icon {
  display: block;
  margin: 5px 0 0 5px;
  appearance: none;
  border: solid gray 1px;
  padding: 10px;
  line-height: 150%;
  color: white;
  background-color: gray; }

.fenestra-taskbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background-color: gray;
  display: flex;
  align-items: stretch;
  z-index: 1000; }

.fenestra-taskbar,
.fenestra-desktop-icons,
.fenestra-desktop-windows {
  transition: bottom 0.5s; }

.fenestra-taskbar > * {
  margin: 5px; }

.fenestra-taskbar-buttons {
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: stretch;
  background-color: gray; }

.fenestra-taskbar-button {
  appearance: none;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
  color: white;
  background-color: gray; }

.fenestra-taskbar-button.active {
  background-color: black; }

.fenestra-taskbar-button-desktop {
  margin: 5px;
  margin-left: auto; }

.fenestra-taskbar-button-windows {
  margin: 5px;
  width: 40px;
  display: none !important; }

.fenestra-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 0;
  background-color: transparent; }

.fenestra-window-active {
  z-index: 2; }

.fenestra-window-maximized {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  border: none !important; }

.fenestra-window-minimized {
  display: none; }

.fenestra-window-header {
  cursor: default;
  height: 30px;
  padding: 5px 0px;
  background-color: gray;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  user-select: none; }

.fenestra-window-active >
.fenestra-window-header {
  background-color: black; }

.fenestra-window-header-title {
  margin-left: 5px; }

.fenestra-window-header-buttons {
  margin-left: auto;
  margin-right: 5px;
  height: 20px;
  display: flex; }

.fenestra-window-header-buttons > button {
  appearance: none;
  border: none;
  color: white;
  background-color: transparent; }

.fenestra-window-body {
  padding: 0;
  position: relative;
  border: solid gray 1px;
  background-color: white;
  overflow: auto;
  flex-grow: 1; }

.fenestra-window-footer {
  display: flex;
  height: auto;
  padding: 5px;
  background-color: gray;
  color: black; }

.fenestra-window-nofooter >
.fenestra-window-footer {
  display: none !important; }

.fenestra-window-maximized >
.fenestra-window-footer {
  border: none;
  border-bottom: solid white 1px;
  border-radius: 0px; }

.fenestra-window-resize {
  cursor: nwse-resize;
  position: absolute;
  bottom: 2px;
  right: 1px;
  font-size: 1em;
  line-height: 1em;
  height: 1em;
  padding: 0 !important;
  text-decoration: none;
  appearance: none;
  border: none;
  color: transparent !important;
  background-color: transparent !important;
  z-index: 10000; }

.fenestra-window-resize:hover,
.fenestra-window-resize:active {
  color: black !important; }

.fenestra-window-maximized >
.fenestra-window-resize {
  display: none !important; }

.fenestra-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 100000; }

@media (max-width: 576px) {
  body {
    overflow-y: hidden; }
  .fenestra-taskbar-button-windows {
    display: block !important; }
  .fenestra-taskbar-button-windows:focus +
.fenestra-taskbar-buttons {
    display: block !important;
    bottom: 50px;
    max-height: 200px; }
  .fenestra-taskbar-buttons {
    margin: 0;
    display: none;
    position: absolute;
    border: solid white 1px;
    padding: 5px;
    overflow-y: auto;
    height: auto; }
  .fenestra-taskbar-buttons >
.fenestra-taskbar-button {
    display: block;
    width: 100%;
    height: 3em;
    margin: 5px 0px; } }
